@import "../../App.scss";

.Cards {
    width: 100vw;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    @media(max-width: $phone) {
        flex-direction: column;
        height: 150vh;
    }
}