@import "../../App.scss";

.IntroOverlay {
    .IntroOverlay__top {
        height: 50vh;
        position: absolute;
        width: 100%;
        z-index: 5;
        .IntroOverlay__col {
            position: absolute;
            height: 100%;
            width: calc(100vw / 3);
            background: #000000;
            bottom: 0;
            left: 0;
            @media(max-width: $phone) {
                width: 100vw;
            }
            &:nth-child(2) {
                left: calc(100% / 3);
                @media(max-width: $phone) {
                    display: none;
                }
            }
            &:nth-child(3) {
                left: calc((100% / 3) * 2);
                @media(max-width: $phone) {
                    display: none;
                }
            }
        }
    }
    .IntroOverlay__bottom {
        height: 50vh;
        position: absolute;
        bottom: 0;
        width: 100%;
        z-index: 5;
        overflow: visible !important;
        @media(max-width: $phone) {
            height: 150vh;
            top: 50vh;
        }
        .IntroOverlay__col {
            position: absolute;
            height: 100%;
            width: calc(100vw / 3);
            background: #000000;
            right: calc((100% / 3) * 2);
            bottom: 0;
            @media(max-width: $phone) {
                right: 0;
                width: 100vw;
                top: 0;
            }
            &:nth-child(2) {
                right: calc(100% / 3);
                @media(max-width: $phone) {
                    right: 0;
                    top: 50vh;
                }
            }
            &:nth-child(3) {
                right: 0;
                @media(max-width: $phone) {
                    right: 0;
                    top: 100vh;
                }
            }
        }
    }
}