@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;600;700&display=swap');


$green: #00755d;
$yellow: #fff3d8;

$small-font: 24px;
$mid-font: 36px;
$large-font: 47px;
$small-font-phone: 16px;
$mid-font-phone: 21px;
$large-font-phone: 21px;

$phone: 700px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    -webkit-tap-highlight-color: transparent;
}